/* base.less是用来写一些项目都需要的公共样式 */



/* 定义乐淘主题色 */
@main-color:#006699;

img{
	/* 解决图片3px的间隙 */
	vertical-align: middle;
}

/* 头部区域的公共样式 */

#header{
	height: 45px;
	background-color: @main-color;
	color:#fff;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 999;
	>h4{
		line-height: 45px;
		font-weight: normal;
		margin:0;
	}
	.fa-search{
		color:#fff;
		position: absolute;
		top: 14px;
		right: 20px;
	}
}

/* 底部的公共样式 */
#footer{
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 0px;
	height: 50px;
	background-color: @main-color;
	z-index: 999;
	.mui-row{
		>div{
			>a{
				color:#fff;
				font-size: 14px;
				display: block;
				text-align: center;
				padding: 11px;
				&::before{
					display: block;
				}
				&.active{
					color:orange;
				}
			}
		}
	}
}


html,body{
	height: 100%;
}

/* 主体内容的公共样式 */
#main{
	padding-top: 45px;
	padding-bottom: 50px;
	height: 100%;
	background-color: #fff;
}